
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'IQOS', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'IQOS';
    src: local('IQOS') url(../fonts/IQOS-Regular.ff6182f.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'IQOSBold';
    src: local('IQOS') url(../fonts/IQOS-Bold.51fa233.ttf);
    font-weight: normal;
}