@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1399px) {
  .container {
    width: 315px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1310px;
    margin: 0 auto;
  }
}
:root {
  --main-color: #00D1D2;
  --primaty-color: #F6F4F0;
  --dark-color: #33303C;
  --main-font-color: #313131;
  --label-title-color:#6F6F6F;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  height: 39px;
  display: flex;
  align-items: center;
  box-shadow: 9px 30px 54px -23px #8f8f8f;
}

@media screen and (max-width: 1399px) {
  .header__main-nav {
    display: none;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__burger {
    width: 13px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__burger-item {
    display: block;
    width: 13px;
    height: 1px;
    background-color: black;
    text-align: center;
  }
  .header__burger-item:not(:last-child) {
    margin-bottom: 5px;
  }
  .header__logo {
    text-transform: uppercase;
  }
  .header__add-nav-list {
    display: flex;
  }
  .header__add-nav-list-item {
    display: none;
  }
  .header__add-nav-list-item-icon:not(:last-child) {
    margin-right: 15px;
  }
  .header__add-nav-icon {
    fill: rgb(0, 0, 0);
  }
}
@media screen and (min-width: 1400px) {
  .header {
    margin-bottom: 61px;
  }
  .header__main-nav {
    display: block;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__burger {
    display: none;
  }
  .header__logo {
    text-transform: uppercase;
  }
  .header__main-nav-list {
    display: flex;
  }
  .header__add-nav-list {
    display: flex;
  }
  .header__main-nav-list-item {
    position: relative;
  }
  .header__main-nav-list-item::after {
    content: "⌄";
    position: absolute;
    top: -10px;
    right: -14px;
    display: inline-block;
    font-size: 20px;
  }
  .header__main-nav-list-item:not(:last-child) {
    margin-right: 40px;
  }
  .header__add-nav-list-item {
    margin-right: 10px;
  }
  .header__add-nav-list-item-icon:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (max-width: 1399px) {
  .hero {
    height: 192px;
    width: 100%;
    background-image: url(../../images/hero/mobile-iqos-1x-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1400px) {
  .hero {
    width: 100%;
    background-image: url(../../images/hero/desktop-hero-1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;
  }
}
.section-form {
  padding-top: 12px;
}

.section-form__date {
  font-family: "IQOS";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-font-color);
  margin-bottom: 24px;
}

.section-form__title {
  font-family: "IQOS";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 36px;
}

.section-form__action-text {
  font-family: "IQOS";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.action-text__bold {
  font-weight: bold;
}

@media screen and (min-width: 1400px) {
  .section-form {
    padding-top: 56px;
  }
}
.form {
  padding: 36px 24px;
  background-color: var(--main-color);
  border-radius: 24px;
}

.form__label {
  margin-bottom: 36px;
  display: block;
}

.form__label-title {
  font-family: "IQOS";
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: var(--label-title-color);
  margin-bottom: 4px;
}

.form__label-input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--dark-color);
}

.form__label-input::-moz-placeholder {
  font-family: "IQOS";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);
}

.form__label-input::placeholder {
  font-family: "IQOS";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);
}

.form-label__checkbox {
  display: block;
  margin-bottom: 36px;
}

.form__btn {
  margin-bottom: 12px;
}

.form__btn-text {
  color: #fff;
  font-family: "IQOS";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 9px;
}

.form__btn-icon {
  fill: inherit;
}

.btn {
  background-color: var(--dark-color);
  min-width: 267px;
  min-height: 48px;
  border-radius: 24px;
  border: none;
  padding: 12px 57px;
}/*# sourceMappingURL=index.css.map */