@charset "UTF-8";
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "IQOS", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

@font-face {
  font-family: "IQOS";
  src: local("IQOS") url(../fonts/IQOS-Regular.ff6182f.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "IQOSBold";
  src: local("IQOS") url(../fonts/IQOS-Bold.51fa233.ttf);
  font-weight: normal;
}
@media screen and (max-width: 1399px) {
  .container {
    width: 315px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1310px;
    margin: 0 auto;
  }
}
:root {
  --main-color: #00D1D2;
  --primary-color: #F6F4F0;
  --dark-color: #33303C;
  --main-font-color: #313131;
  --label-title-color:#6F6F6F;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.btn {
  min-width: 142px;
  min-height: 36px;
  border-radius: 24px;
}

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1399px) {
  .header__main-nav {
    display: none;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__burger {
    width: 13px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header__burger-item {
    display: block;
    width: 13px;
    height: 1px;
    background-color: black;
    text-align: center;
  }
  .header__burger-item:not(:last-child) {
    margin-bottom: 5px;
  }
  .header__logo {
    text-transform: uppercase;
  }
  .header__add-nav-list {
    display: flex;
  }
  .header__add-nav-list-item {
    display: none;
  }
  .header__add-nav-list-item-icon:not(:last-child) {
    margin-right: 15px;
  }
  .header__add-nav-icon {
    fill: rgb(0, 0, 0);
  }
}
@media screen and (min-width: 1400px) {
  .header {
    margin-bottom: 61px;
    box-shadow: 9px 30px 54px -23px #8f8f8f;
  }
  .header__main-nav {
    display: block;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__burger {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header__logo {
    text-transform: uppercase;
  }
  .header__main-nav-list {
    display: flex;
  }
  .header__add-nav-list {
    display: flex;
  }
  .header__main-nav-list-item {
    position: relative;
  }
  .header__main-nav-list-item::after {
    content: "⌄";
    position: absolute;
    top: -10px;
    right: -14px;
    display: inline-block;
    font-size: 20px;
  }
  .header__main-nav-list-item:not(:last-child) {
    margin-right: 40px;
  }
  .header__add-nav-list-item {
    margin-right: 10px;
  }
  .header__add-nav-list-item-icon:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (max-width: 1399px) {
  .hero {
    height: 192px;
    width: 100%;
    border-color: var(--main-color);
    background-image: url(../images/hero/mobile-iqos-1x-hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
@media screen and (min-width: 1400px) {
  .hero {
    width: 100%;
    border-color: var(--main-color);
    background-image: url(../images/hero/desktop-hero-1x.png);
    background-size: contain;
    background-position: center;
    height: 448px;
  }
}
@media screen and (max-width: 1399px) {
  .section-form {
    padding-top: 12px;
    margin-bottom: 36px;
  }
}
.section-form__date {
  font-family: "IQOS";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-font-color);
  margin-bottom: 24px;
}

.section-form__title {
  font-family: "IQOS";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 36px;
}

.section-form__action-text {
  font-family: "IQOS";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.action-text__bold {
  font-weight: bold;
}

.form {
  padding: 36px 24px;
  background-color: var(--main-color);
  border-radius: 24px;
}

.form__label {
  margin-bottom: 36px;
  display: block;
}

.form__label-title {
  font-family: "IQOS";
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: var(--label-title-color);
  margin-bottom: 4px;
}

.form__label-input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--dark-color);
}

.form__label-input::-moz-placeholder {
  font-family: "IQOS";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);
}

.form__label-input::placeholder {
  font-family: "IQOS";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);
}

.form-label__checkbox {
  display: block;
  margin-bottom: 36px;
}

.form__btn {
  background-color: var(--dark-color);
  min-width: 267px;
  min-height: 48px;
  border: none;
  padding: 12px 57px;
  margin-bottom: 12px;
}

.form__btn-text {
  color: #fff;
  font-family: "IQOS";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 9px;
}

.form__btn-icon {
  fill: inherit;
}

.form-label__checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form-label__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  clip: rect(0 0 0 0);
}

.form-label__checkbox-custom {
  display: inline-block;
  width: 30px;
  height: 12px;
  background-color: #fff;
  border: 1px solid var(--dark-color);
  border-radius: 3px;
  transition: background-color 250ms ease-in-out, background-image 250ms ease-in-out, border-color 250ms ease-in-out;
}
.form-label__checkbox-custom:focus {
  outline: none;
  border: 2px solid;
  border-color: var(--dark-color);
}
.form-label__checkbox-input:checked + .form-label__checkbox-custom {
  background-color: var(--label-title-color);
  border-color: black;
  background-image: url("../../images/icon-check/symbol-defs.svg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 7px 7px;
  background-position: center;
}

.form-label__checkbox-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 1400px) {
  .form {
    width: 700px;
  }
  .section-form {
    margin-bottom: 36px;
  }
}
.section-smart-change {
  margin-bottom: 60px;
}

.section-smart-change__about {
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 36px;
}

.section-smart-change-prod {
  line-height: 1.5;
  margin-bottom: 36px;
}

.section-smart-change__prod-list-wrap {
  position: relative;
}
.section-smart-change__prod-list-wrap:not(:last-child) {
  margin-bottom: 12px;
}

.section-smart-change__prod-list-icon {
  position: absolute;
  margin-right: 12px;
}

.section-smart-change__prod-img {
  margin: 36px auto;
}

.section-smart-change__prod-text {
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 12px;
}

.section-smart-change__prod-list-item {
  margin-left: 34px;
}
.section-smart-change__prod-list-item:not(:last-child) {
  margin-bottom: 12px;
}

.section-smart-change__address-text {
  line-height: 1.5;
  text-align: center;
  color: var(--main-font-color);
  margin-bottom: 36px;
}

.section-smart-change__contacts {
  line-height: 1.5;
  text-align: center;
  color: var(--main-font-color);
  margin-bottom: 36px;
}

.section-smart-change__text {
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.section-conditions {
  position: relative;
  background-color: var(--main-color);
  padding: 36px 30px;
  margin-bottom: 36px;
}

.section-conditions__dots {
  position: absolute;
  left: -31px;
}

.section-conditions__dots-1 {
  margin-bottom: -11px;
  margin-right: 12px;
  transform: rotate(270deg);
}

.section-conditions__dots-2 {
  transform: rotate(270deg);
}

.section-conditions-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}
.section-conditions-wrap:not(:last-child) {
  margin-bottom: 35px;
}

.section-conditions-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fffdfb;
  margin-left: 17.5px;
}

.section-conditions__wrap-dots {
  position: absolute;
  bottom: -15px;
  left: 87px;
}

@media screen and (min-width: 1400px) {
  .main__flex-sections {
    display: flex;
    gap: 45px;
    margin-top: 56px;
  }
}
.section-news {
  padding: 24px 32px;
  background-color: var(--primary-color);
  margin-bottom: 48px;
}

.section-news__title {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-font-color);
  margin-top: 24px;
}

.section-news__list-item {
  padding-top: 36px;
}

.section-news__list {
  margin-bottom: 36px;
}

.section-news__line {
  background-color: #e1dfe1;
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 36px;
}

.section-news__action {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--main-font-color);
  margin-bottom: 23px;
}

.section-news__date {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-font-color);
  margin-bottom: 12px;
}

.section-news__btn {
  border: 2px solid var(--dark-color);
  color: var(--dark-color);
}

.section-news__link-wrap-link {
  position: relative;
}

.section-news__link-wrap-img {
  position: absolute;
  top: 3px;
  right: -22px;
}

@media screen and (min-width: 1400px) {
  .section-news {
    width: 392px;
  }
}
@media screen and (max-width: 1399) {
  .section-about {
    min-height: 510px;
    background-image: url(../images/section-about/about-background-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 53px;
  }
}
@media screen and (max-width: 1400) {
  .section-about {
    min-height: 568px;
    background-image: url(../images/section-about/about-background-desktop-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 53px;
  }
}
.footer {
  background-color: var(--main-font-color);
}

.footer__container {
  padding-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer__nav {
  margin-bottom: 36px;
}

.footer__nav-list:not(:last-child) {
  margin-bottom: 28px;
}

.footer__nav-list-title {
  font-size: 12px;
  line-height: 1.5;
  color: var(--label-title-color);
  margin-bottom: 10px;
}

.footer__nav-list-item {
  color: #fff;
  font-size: 13px;
}
.footer__nav-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__nav-list-item-link {
  color: inherit;
  font-size: 13px;
  line-height: 1.5;
}

.footer__nav-wrapper-first-ul {
  margin-bottom: 40px;
}

.footer__line {
  display: block;
  width: 100%;
  height: 1px;
  color: white;
  margin-bottom: 28px;
}

.footer__copyright,
.footer__copyright-desktop {
  font-size: 13px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 30px;
}

.footer__cookies {
  font-size: 12px;
  line-height: 1.5;
  color: var(--label-title-color);
}

.footer__nav-lang-title {
  font-size: 12px;
  line-height: 1.5;
  color: var(--label-title-color);
  margin-bottom: 10px;
}

.footer__nav-lang {
  border: none;
  background-color: transparent;
  color: #fff;
}

@media screen and (min-width: 320px) {
  .footer {
    padding-bottom: 20px;
  }
  .footer__nav-mobile-flex {
    display: flex;
    gap: 80px;
  }
  .footer__copyright-desktop {
    display: none;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__nav-copyright-desktop {
    display: none;
  }
  .footer__nav-cookies-desktop {
    display: none;
  }
  .footer__warning {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  .footer__nav {
    display: flex;
    justify-content: space-between;
    padding-left: 145px;
    padding-right: 140px;
    margin-bottom: 55px;
  }
  .footer__nav-list:not(:last-child) {
    margin-bottom: 0px;
  }
  .footer__nav-flex {
    display: flex;
    gap: 110px;
    margin-bottom: 85px;
  }
  .footer__line {
    display: none;
  }
  .footer__nav-mobile-flex {
    display: block;
  }
  .footer__nav-lang-wrap {
    margin-top: 36px;
    margin-bottom: 53px;
  }
  .footer__copyright {
    display: none;
  }
  .footer__nav-copyright-desktop {
    display: block;
    text-align: left;
    font-size: 12px;
    color: var(--label-title-color);
  }
  .footer__copyright-desktop {
    display: block;
    text-align: center;
  }
  .footer__cookies {
    display: none;
  }
  .footer__nav-cookies-desktop {
    display: block;
    font-size: 12px;
    color: var(--label-title-color);
  }
  .footer__warning {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: var(--label-title-color);
    background-color: #2a2828;
    width: 100%;
    height: 70px;
  }
}
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(137, 136, 136, 0.2784313725);
  transition: opacity 250ms, visibility 250ms;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  min-height: 200px;
  background-color: #f4f4f4;
  transform: translate(154%, 75%);
}

.modal__btn-close {
  position: absolute;
  top: 6px;
  right: 6px;
}

.modal__btn-close {
  background-image: url(../../images/close-icon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 20px 30px;
  background-color: var(--main-color);
  width: 150px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 250ms ease-in;
}

.transform {
  transform: translateX(6%);
}

.mobile-menu__btn-close {
  background-image: url(../../images/close-icon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
}/*# sourceMappingURL=index.css.map */