.header {
    height: 39px;
    display: flex;
    align-items: center;

    box-shadow: 9px 30px 54px -23px #8f8f8f;


  
}

// .header__wrapper{
//     position: relative;
// }





@media screen and (max-width: 1399px){

    .header__main-nav {
        display: none;
    }

    .header__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    .header__burger{
       width: 13px;
       height: 20px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;

       cursor: pointer;

    }
    .header__burger-item{
        display: block;
        width: 13px;
        height: 1px;
        background-color: black;
        text-align: center;

        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
  
     .header__logo {
        text-transform: uppercase;
     }

     .header__add-nav-list{
        display: flex;
     }

     .header__add-nav-list-item{
        display: none;
     }
.header__add-nav-list-item-icon:not(:last-child){
    margin-right: 15px;
}
     .header__add-nav-icon{
        fill: rgb(0, 0, 0);
     }
}



 //=====================================================================


@media screen and (min-width: 1400px) {

    .header{
       margin-bottom: 61px;
       display: block;
    }
    .header__main-nav {
            display: block;
        }

 .header__wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
     .header__burger {
        display: none;
     }
     .mobile-menu{
        display: none;
     }

         .header__logo {
             text-transform: uppercase;
         }

     .header__main-nav-list{
        display: flex;
     }

     .header__add-nav-list{
        display: flex;
     }
     .header__main-nav-list-item{
        position: relative;
        
        &::after{
            content: '\2304';

            position: absolute;
            top: -10px;
            right: -14px;
            display: inline-block;
            font-size: 20px;
        }
            &:not(:last-child){
                margin-right: 40px;
            }
     }

     .header__add-nav-list-item{
       margin-right: 10px;

  
     }

         .header__add-nav-list-item-icon:not(:last-child) {
             margin-right: 15px;
         }

}