@media  screen and (max-width: 1399px) {
    .hero {
            height: 192px;
            width: 100%;
            border-color: var(--main-color);
            background-image: url(../images/hero/mobile-iqos-1x-hero.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
}

@media screen and (min-width: 1400px) {
    .hero{
        width: 100%;
        border-color: var(--main-color);
        background-image: url(../images/hero/desktop-hero-1x.png);
        background-repeat: no-repeat;
        background-size: cover;

        height: 448px;
    }
}