.section-smart-change {
  margin-bottom: 60px;
}
.section-smart-change__about {
  font-weight: 700;

  line-height: 1.5;

  text-align: center;

  margin-bottom: 36px;
}

.section-smart-change-prod {
  line-height: 1.5;

  margin-bottom: 36px;
}

.section-smart-change__prod-list-wrap {
  display: flex;

  &:not(:last-child){
    margin-bottom: 12px;
  }
}

.section-smart-change__prod-list-icon {
  margin-right: 12px;
}

.section-smart-change__prod-img {
  margin: 36px auto;
}

.section-smart-change__prod-text {
  font-weight: 700;
  line-height: 1.5;

  margin-bottom: 12px;
}

.section-smart-change__prod-list {
}

.section-smart-change__prod-list-item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.section-smart-change__address-text {
  line-height: 1.5;
  text-align: center;
  color: var(--main-font-color);

  margin-bottom: 36px;
}

.section-smart-change__contacts {
  line-height: 1.5;
  text-align: center;
  color: var(--main-font-color);

  margin-bottom: 36px;
}
.section-smart-change__text {
  font-weight: 700;

  line-height: 1.5;

  text-align: center;
}
