.section-about{
    min-height: 510px;
    background-image: url(../images/section-about/about-background-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    margin-bottom: 53px;
}