.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 20px 30px;
    background-color: var(--main-color);

    width: 150px;
    height: 100%;

    transform: translateX(-100%);

    transition: transform 250ms ease-in;

}

.transform{
transform: translateX(6%);
}

.mobile-menu__btn-close {
    position: relative;
    // background-image: url(../../images/close-icon.jpg);
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
    
        border: none;
        cursor: pointer;
        background-color: transparent;
    
    
        width: 18px;
        height: 18px;

        margin-bottom: 20px;
}
.mobile-menu__btn-close-img{
    position: absolute;
    top: 0;
    left: 0;
}

.mobile-menu__nav {

}

.mobile-menu__nav-list {}

.mobile-menu__nav-list-item {
    &:not(:last-child){
        margin-bottom: 15px;
    }
}