.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;

  background-color: #89888847;

  transition: opacity 250ms, visibility 250ms;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 250ms ease-in;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(150%, 12%);

  padding: 20px;

  width: 300px;
  height: 200px;
  background-color: #f4f4f4;

  overflow: auto;
}

.modal__btn-close {
  position: absolute;
  top: 6px;
  right: 6px;
}

.modal__btn-close {
  background-image: url(../../images/close-icon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  border: none;
  cursor: pointer;

  width: 22px;
  height: 22px;
}

.modal__img {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (min-width: 1400px) {
  .modal {
    width: 40%;
    height: 50%;

    top: 0;
    left: 0;

    transform: translate(188px, 48px);
  }
}
