.backdrop {
    position: fixed;
   top: 0px;
   left: 0px;

    width: 100vw;
    height: 100vh;
 
    background-color: #89888847;

    transition: opacity 250ms, visibility 250ms;
}

 .is-hidden {
     pointer-events: none;
     opacity: 0;
     visibility: hidden;

 }

.modal {
    position: absolute;
    top: -58px;
        left: -143px;

        padding: 20px;
    
    width: 300px;
    height: 200px;
    background-color: #f4f4f4;
    transform: translate(154%, 75%);
    overflow: auto;

}

.modal__btn-close{
    position: absolute;
    top: 6px;
    right: 6px;
}

.modal__btn-close{
    background-image: url(../../images/close-icon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    border: none;
    cursor: pointer;


    width: 22px;
    height: 22px;
}

.modal__img{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}